@model PEMS.WEBUI.Models.HomeIndexViewModel
@{
    ViewBag.Title = "GetChart";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script>

    var data3 = {
        labels: ["2022/21", "2021/20", "2020/19"],
        datasets: [
            {
                label: "1st  Tranche",
                backgroundColor: "blue",
                data: [3, 7, 4]
            },
            {
                label: "2nd Tranche",
                backgroundColor: "purple",
                data: [4, 3, 5]
            },
            {
                label: "3rd Tranche",
                backgroundColor: "green",
                data: [7, 2, 6]
            }
        ]
    };
    debugger;
    var barChartData =@Html.Raw(Json.Encode(Model.barChartViewModel));
    //{
    //    labels: ["Male", "Female", "Other"],
    //    datasets: [{
    //        label: 'Survey Data Gender Wise',
    //        backgroundColor: [
    //            "#f990a7",
    //            "#aad2ed",
    //            "#9966FF",
    //            "#99e5e5",
    //            "#f7bd83",
    //        ],
    //        borderWidth: 2,
    //        data: [50, 40, 10]
    //    }]
    //};
    var PieChartData =
    {
        labels: ["Male", "Female", "Other"],
        datasets: [{
            label: 'Survey Data Gender Wise',
            backgroundColor: [
                "#f990a7",
                "#aad2ed",
                "#9966FF",
                "#99e5e5",
                "#f7bd83",
            ],
            borderWidth: 2,
            data: [20, 40, 60]
        }]
    };

    window.onload = function () {
        var ctx1 = document.getElementById("Piecanvas").getContext("2d");
        var ctx2 = document.getElementById("barcanvas").getContext("2d");
        var ctx3 = document.getElementById("myChart").getContext("2d");

        window.myBar = new Chart(ctx1,
            {
                type: 'pie',
                data: PieChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Survey Data Gender Wise"
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
        window.myBar = new Chart(ctx2,
            {
                type: 'bar',
                data: barChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Survey Data Gender Wise"
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }]
                    },
                    responsive: true,
                    //maintainAspectRatio: true
                }
            });
        window.myBar = new Chart(ctx3, {
            type: 'bar',
            data: data3,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                }
            }
        });
    }
</script>
<body>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>
                                Bar Graph
                            </h4>
                        </div>
                        <div class="card-body">
                            <div style="text-align: center">
                                <canvas id="barcanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>
                            Pie Chart
                        </h4>
                    </div>
                    <div class="card-body">
                        <div style="text-align: center">
                            <canvas id="Piecanvas"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>
                            Group bar
                        </h4>
                    </div>
                    <div class="card-body">
                        <div style="text-align: center">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</body>
