<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEMS</title>
    <link href="~/Dashboard/css/LandingPage.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>
</head>

<body>
    <section></section>
    <section class="header">
        <div class="text-box">
            <h1>"Let's rise together"</h1>
            <p>
                We help you rebuild your shelter. Everyone deserves a nice shelter.
                <br>
                Click "View More" to learn more.
            </p>
            <a href="" class="hero-btn">View More</a>
        </div>
    </section>
    <section class="menu-list">
        <h1>Houses, we reconstructed</h1>
        <p>
            In this section, we can display acheivement for instance, list of reconstructed houses and feedback from the happy beneficiaries.
        </p>
        <div class="row">
            <div class="menu-list-col">
                <img src="~/Dashboard/img/reconstructed_house.png">
                <h3>KALPANA KHANAL, GPJ NEPAL</h3>
                <p>Man Kumari Shrestha, pictured in 2017, sits on the unfinished wall of the home she hoped to build for her family in Kumpur, Nepal. 
                Shrestha received a government grant to pay for the project, but the money ran out well before the house was rebuilt..</p>
            </div>
            <div class="menu-list-col">
                <img src="~/Dashboard/img/reconstructed_house1.png">
                <h3>Tilak B. Magar, Okhaldhunga NEPAL</h3>
                <p>Tilak B. Magar and his wife Dil Kumari Magar at their newly rebuilt house at Jyamire, Siddhicharan Municipality-9, Okhaldhunga.</p>
            </div>
            <div class="menu-list-col">
                <img src="~/Dashboard/img/reconstructed_house3.png">
                <h3>Source: SW Nepal</h3>
                <p>EHRP beneficiary in front of her newly reconstructed house, holding her Participation Agreement, Photo Credit- SW Nepal.</p>
            </div>
        </div>
    </section>
    <section class="menu-list">
        <h1>Structures, that were damaged.</h1>
        <p>
            In this section, we can display acheivement for instance, list of reconstructed houses and feedback from the happy beneficiaries.
        </p>
        <div class="row">
            <div class="menu-list-col">
                <img src="~/Dashboard/img/damage_house.png">
                <h3>Damaged Durbar Square</h3>
                <p>A scrap collector passes a ruined building. New buildings around Durbar Square must be built in the traditional Newari style, 
                including the distinctive decorative wooden windows, which adds to construction costs.</p>
            </div>
            <div class="menu-list-col">
                <img src="~/Dashboard/img/damage_house1.png">
                <h3>Victim's Private House</h3>
                <p>A homeowner oversees the reconstruction of his house. Reconstruction in the city has been hampered by family disputes,
                confusion over ownership and high building costs.</p>
            </div>
            <div class="menu-list-col">
                <img src="~/Dashboard/img/damage_house2.png">
                <h3>Demolision by migrant workers.</h3>
                <p>
                    The demolition of damaged buildings is done almost entirely by hand, often by migrant labourers from across Nepal
                    who live in the ruins while they do the work.
                </p>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <h1>What reconstructed house owners says about us.</h1>
        <p>
           Thank you <b>Reconstruction Authority</b> helping us rebuid our shelter. Much appreciate your support and effort.
        </p>
        <div class="row">
            <div class="testimonials-col">
                <img src="~/Dashboard/img/avatar-4.jpg">
                <div>
                    <p>The financial support means a lot to me as i am able to rebuild my house. Thank you all helping hands.</p>
                    <h3>Tilak B. Magar</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testimonials-col">
                <img src="~/Dashboard/img/avatar-3.jpg">
                <div>
                    <p>Thanks to all supporting hands for building our shelter.</p>
                    <h3>Sunmaya Dhami</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <h1>Let's rebuild' <br>Let's move together.</h1>
        <a href="" class="hero-btn">See More</a>
    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>
           Please feel free to email us on <b>letsbuildtogether@gmail.com</b>
            <br> please follow us on social media.
        </p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Copyright Prabin <b>2022</b></p>
    </section>
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>

</html>
