<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEMS </title>
    <link href="~/Dashboard/css/LandingPage.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>
</head>

<body>
    <section class="header">
        <nav>
            <a href="Index.html"><img src="Images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Menus</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Let's rise together'</h1>
            <p>
                We help you rebuild your shelter. Everyone deserves a nice shelter.
                <br>
                Click "Order Now" to thrive your hunger.
            </p>
            <a href="" class="hero-btn">Order Now</a>
        </div>
    </section>

    <section class="course">
        <h1>Menu We Offer</h1>
        <p>
            Our curry is best in the town.Our curry is best in the town.
            Our curry is best in the town.Our curry is best in the town.
            Our curry is best in the town.Our curry is best in the town.
            Our curry is best in the town.Our curry is best in the town.
        </p>
        <div class="row">
            <div class="course-col">
                <h3>Sushi</h3>
                <p>
                    Best sushi in leicester. Taste it to feel it.
                    Best sushi in leicester. Taste it to feel it.
                    Best sushi in leicester. Taste it to feel it.
                    Best sushi in leicester. Taste it to feel it.
                    Best sushi in leicester. Taste it to feel it.
                </p>
            </div>
            <div class="course-col">
                <h3>Curry</h3>
                <p>
                    Best Curry in leicester. Taste it to feel it.
                    Best Curry in leicester. Taste it to feel it.
                    Best Curry in leicester. Taste it to feel it.
                    Best Curry in leicester. Taste it to feel it.
                    Best Curry in leicester. Taste it to feel it.
                </p>
            </div>
            <div class="course-col">
                <h3>Rice</h3>
                <p>
                    Best Rice in leicester. Taste it to feel it.
                    Best Rice in leicester. Taste it to feel it.
                    Best Rice in leicester. Taste it to feel it.
                    Best Rice in leicester. Taste it to feel it.
                    Best Rice in leicester. Taste it to feel it.
                </p>
            </div>
        </div>
    </section>

    <section class="todays-special-menu">
        <h1>Today's Special Menu</h1>
        <p>
            Our curry is best in the town.Our curry is best in the town.
        </p>
        <div class="row">
            <div class="todays-special-menu-col">
                <img src="Images/burger.png">
                <div class="layer">
                    <h3>
                        Burger
                    </h3>
                </div>
            </div>
            <div class="todays-special-menu-col">
                <img src="Images/noodles.png">
                <div class="layer">
                    <h3>
                        Noodle
                    </h3>
                </div>
            </div>
            <div class="todays-special-menu-col">
                <img src="Images/chickenWings.png">
                <div class="layer">
                    <h3>
                        Chicken Wings
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="todays-special-menu-col">
                <img src="Images/burger.png">
                <div class="layer">
                    <h3>
                        Burger
                    </h3>
                </div>
            </div>
            <div class="todays-special-menu-col">
                <img src="Images/noodles.png">
                <div class="layer">
                    <h3>
                        Noodle
                    </h3>
                </div>
            </div>
            <div class="todays-special-menu-col">
                <img src="Images/chickenWings.png">
                <div class="layer">
                    <h3>
                        Chicken Wings
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section class="menu-list">
        <h1>Our Menus</h1>
        <p>
            Our curry is best in the town.Our curry is best in the town.
        </p>
        <div class="row">
            <div class="menu-list-col">
                <img src="Images/burger.png">
                <h3>City's best Curry</h3>
                <p>Best Curry found in city.Best Curry found in city.Best Curry found in city.</p>
            </div>
            <div class="menu-list-col">
                <img src="Images/burger.png">
                <h3>City's best Sushi</h3>
                <p>Best Sushi found in city.Best Sushi found in city.Best Sushi found in city.</p>
            </div>
            <div class="menu-list-col">
                <img src="Images/burger.png">
                <h3>City's best Burger</h3>
                <p>Best Burger found in city.Best Burger found in city.Best Burger found in city.</p>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <h1>What our customers says about us.</h1>
        <p>
            They say our curry is best in the town.Our curry is best in the town.
        </p>
        <div class="row">
            <div class="testimonials-col">
                <img src="Images/anil.jpg">
                <div>
                    <p>Parikar's curry is perfect with low cost that can fill the empty stomatch.</p>
                    <h3>Anil Gaire</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testimonials-col">
                <img src="Images/barun.jpg">
                <div>
                    <p>Parikar's curry is perfect with low cost that can fill the empty stomatch.</p>
                    <h3>Barun Bhandari</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <h1>Ready for order? <br>Click the button below to place order.</h1>
        <a href="" class="hero-btn"> Order Now</a>
    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>
            Did you enjoy our menu. please leave us your feedback. Your feedback pushes us to do more for you.
            <br> please follow us on social media.
        </p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Copyright Prabin <b>2022</b></p>
    </section>
    <script>
var navLinks = document.getElementById("navLinks");

function showMenu(){
navLinks.style.right= "0";
}

function hideMenu(){
navLinks.style.right= "-200px";
}
    </script>
</body>

</html>
