@model PEMS.BusinessLayer.ReportModel.ReportViewModel
@{
    ViewBag.Title = "Inspection Summary Report";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<body>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="color:forestgreen">@ViewBag.Title</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="InspectionSummaryReportID" class="display" style="width:100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    $(document).ready(function () {
        debugger;
        var stateId = @Html.Raw(Json.Encode(Model.StateId));
        var cityId = @Html.Raw(Json.Encode(Model.CityId));
        $('#InspectionSummaryReportID').DataTable({
            "ajax": {
                "url": '@Url.Action("GetInspectionSummaryData", "Report")?StateId=' + stateId + "&CityId=" + cityId,
                "type": "GET",
                "datatype": "json",
            },
            "lengthMenu": [[100, 200, 500, 1000, -1], [100, 200, 500, 1000, "All"]],
            "order": [[0, 'asc'], [1, 'asc']],
            "paging": true,
            dom: 'lBfrtip',
            "bSort": true,
            columns: [
                 {
                    title: 'SN', data: "StateName", render: function (data, type, full, meta) {
                         debugger;
                       return  meta.row + 1;
                    }
                },
                { title: 'State', data: "StateName" },
                { title: 'City', data: "CItyName" },
                { title: 'Insp 1st', data: "FisrtInspCount" },
                { title: 'Insp 2nd', data: "SecondInspCount" },
                { title: 'Insp 3rd', data: "ThirdInspCount" }
            ],
            buttons: [
                'csv', {

                    extend: 'excelHtml5',
                    title: 'Inspection_Summary_Report'
                }, 'pdf'
            ]
        });
    });
</script>


